html {
    box-sizing: border-box;
    min-width: min-content;
    min-height: 100vh;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

#root {
    display: grid;
    grid-template-rows: 1fr;
    height: 100vh;
}

.app {
    background: url('./../images/ducky-bg-image.png') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3vh 5vw;
    background-color: rgb(41 41 41 / 50%);
    color: aliceblue;
}

nav div {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    height: 100px;
    width: 100px;
}